{% extends 'shukatu/base.html' %}

{% load static %}

{% block title %} Delete | My Shukatu{% endblock %}

{% block contents %}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">{{object.title}}の情報を削除してもいいですか？</h1>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger btn-icon-split my-2" type="submit">
            <span class="icon text-white-50">
                <i class="fas fa-trash"></i>
            </span>
            <span class="text">削除する</span>
        </button>
        <a href="{% url 'es:es_list' %}" class="btn btn-secondary my-2">キャンセル</a>
    </form>
</div>
{% endblock %}